PORT=3010
JWT_SECRET=supersecretkey
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/task_app"

# Documentation:
# PORT: The port on which the application will run. in backend 3010
# Documentation API : /api-docs
# Frontend : cd frontend -> npm run start